dist 
dist/
dist/**/*
node_modules
node_modules/
# Ignore Mac DS_Store files
.DS_Store
*.css.map
sassdoc
settings.json
.vscode
package-lock.json
app/css/styles.css
.idea
.idea/
localhost
localhost:3000.json