/* Setting on every element */
* {
    box-sizing: border-box;
}

/* Remove underline on links */
a {
    text-decoration: none;
}

/* Remove list bullets */
ul {
    list-style-type: none;
}

body {
    background-color: map-get($color,  accent2 );
}
