/* Placeholders and classes */

%button{
  background-color:map-get($color,accent1);
  color:map-get($color,bright);
  height: 40px;
  border-radius:1em;
  border-style: none;
  cursor: pointer;
  outline:none;

  &:hover {
    background: lighten(map-get($color,accent1), 5%);
  }
}

%form-input{
  border-radius:0.5em;
  height: 35px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

