/* Placeholders and classes */

%button{
  background-color:map-get($color,accent1);
  color:map-get($color,bright);
  height: 40px;
  width:250px;
  border-radius:1em;
  border-style: none;
  cursor: pointer;
  outline:none;
}

%form-input{
  border-radius:0.5em;
  width:300px;
  height: 40px;
  border: 1px solid #ccc;
}

