/* Login bar */
#login {
    background: map-get($color, main);
    height: 50px;

    form {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > * {
            margin-right: 1em;
        }

        .e-mail {
            @extend %form-input;
        }

        .password {
            @extend %form-input;
        }

        #login-button {
            @extend %button;
            width: 100px;
        }
    }
}