
#chat-view {
    padding: .5em 0;

    /* All users */
    .chat-message {
        margin-right: 20%;

        .chat-content {
            background-color: map-get($color, accent3);
            color: map-get($color, dark);
            border: 1px solid darkslategrey;

            display: flex;
            align-items: center;

            border-radius: 5px;
            padding: 10px;
            margin: 0.5em 0.5em 3px;
            opacity: 0.9;

            p {
                margin: 0 0.5em;
            }

            img {
                align-self: flex-start;
                width: 70px;
                height: 70px;
                margin: 0.2em;
            }
        }

        .chat-meta-container {
            width: 100%;
            height: 20px;
            position: relative;

            .chat-meta {
                background: map-get($color, accent3);
                color: map-get($color, dark);
                opacity: 0.7;
                position: absolute;
                right: 0;
                border-radius: 1em;
                padding: 0 .5em;
                margin: 0 .5em;
            }
        }
    }

    /* Current user */
    .this-user-message {
        margin-right: 0;
        margin-left: 20%;

        .chat-content {
            background-color: map-get($color, accent2);
            color: map-get($color, bright);

            justify-content: right;

            p {
                flex-grow: 1;
            }

            img{
                justify-content: right;
                order: 2;
            }
        }

        .chat-meta-container {
            .chat-meta {
                background: map-get($color, accent2);
                color: map-get($color, bright);
                left: 0;
                right: auto;
            }
        }
    }
}
