
#chat-view {

    /* All users */
    .chat-message {

        .chat-content {
            width: 80%;
            background-color: map-get($color, accent3);
            color: map-get($color, dark);
            display: flex;
            align-items: center;
            border: 1px solid darkslategrey;
            border-radius: 5px;
            padding: 10px;
            margin: 0.5em 0.5em 0;
            opacity: 0.9;

            p {
                margin: 0 0.5em;
            }

            img {
                align-self: flex-start;
                width: 70px;
                height: 70px;
                margin: 0.2em;
            }
        }

        .chat-meta {
            color: map-get($color, dark);
            text-align: right;
            margin-right: 20%;
        }
    }

    /* Current user */
    .this-user-message {
        color: map-get($color, bright);
        text-align: left;

        .chat-content {
            background-color: map-get($color, accent2);
            color: map-get($color, bright);
            display: flex;
            justify-content: right;
            margin: .5em 10em 0;

            p {
                flex-grow: 1;
            }

            img{
                justify-content: right;
                order: 2;
                margin: 0.2em;
            }
        }

        .chat-meta {
            text-align: left;
            margin-left: 20%;
        }
    }
}
