
#chat-view {

    .chat-content {
        width: 80%;
        background-color: map-get($color, accent3);
        color: map-get($color, dark);
        display: flex;
        border: 1px solid darkslategrey;
        border-radius: 5px;
        padding: 10px;
        margin: 0.5em 0.5em 0.5em;
        opacity: 0.9;

        p {
            margin: 2em 0.5em 0 0.5em;
        }

        img {
            width: 70px;
            height: 70px;
            margin: 0.2em;
        }
    }

    .chat-meta {
        color: map-get($color, dark);
        text-align: right;
        margin-right: 20%;
    }

    .this-user-message .chat-content {
        background-color: map-get($color, accent2);
        color: map-get($color, bright);
        display: flex;
        justify-content: right;
        margin: 0.5em 10em 0.5em;

    }

    .this-user-message  {
        color: map-get($color, bright);
        text-align: left;
    }

    .this-user-message  .chat-meta {
        text-align: left;
        margin-left: 20%;
    }

    .this-user-message img{
        justify-content: right;
        order: 2;
        margin: 0.2em;
    }
}

/*    main: rgb(196, 69, 54),
        accent1: rgb(119, 46, 37),
        accent2: rgb(25, 114, 129),
        accent3: rgb(236, 221, 211),
        green: rgb(0, 170, 45),
        dark: rgb(40, 61, 59),
        gray: rgb(185, 185, 185),
        darkgrey: rgb(112, 112, 112),
        bright: rgb(255, 255, 255)
    )*/