/* Top content on chat page */
#user-bar {
    margin-top: 2em;
    width: 1100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* User settings = avatar + username */
    #user-settings-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        /* Avatar picture */
        .avatar {
            width: 50px;
            height: 50px;
        }

        /* Username */
        .username {
            margin-left: .5em;
            font-size: 20px;
        }
    }

    /* Log out button */
    #logout-button {
        @extend %button;
        margin-left: 2em;
        width: 100px;
    }
}