/* Main application layout */
#main-app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 350px 350px;
    grid-gap: 10px;
    width: 1100px;
    margin: auto;
    padding-top: 30px;
    color: map-get($color, bright);

    /* Chat rooms view */
    #chat-rooms {
        grid-row: 1;
        grid-column: 1;
    
        /* Create new chat button */
        #create-new-chat {
            position: absolute;
            right: 0;
            margin: 4px 8px 0 0;
        }
    }
    
    /* Logged in users view */
    #logged-in-users {
        grid-row: 2;
        grid-column: 1;
    }
    
    /* Chat window */
    #chat-window {
        @extend %chat-window;
    }
    
    /* Sidebar views */
    #logged-in-users,
    #chat-rooms {
        background: map-get($color, darkgray);
        width: 250px;
        height: 350px;
        text-align: center;
        box-shadow: 1px 3px 9px -3px rgba(0, 0, 0, 0.75);
    
        /* Title bar */
        .bar {
            background-color: map-get($color, accent1);
            height: 30px;
            margin: 0;
            padding-top: 0.2em;
            position: relative;
    
            /* Titel */
            h3 {
                display: inline;
            }
        }
    }
}